faster-whisper
transformers
torch
pyaudio
webrtcvad
sounddevice
librosa
langdetect
pyttsx3
sentencepiece
edge-tts
ffmpeg-python
piper-tts
kokoro
ordered-set
cn2an
pypinyin_dict
jieba
fugashi 
jaconv
mojimoji
fugashi[unidic]
unidic-lite
unidic-mecab
unidic-mecab-python
unidic-lite-python
unidic-mecab-python3